* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background-image:url("images/beige_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    /* padding-top: 80px; */
}



/*common style of title and div start*/
.title {
    text-align: center;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Times New Roman';
    margin-bottom: 10px;
    text-decoration: underline;
    color: #ffffff;
    margin-bottom: 25px;
}


.content_section {
    width: 94%;
    height: auto;
    margin-left: 2%;
    margin-bottom: 30px;
}

.content_section  .row{
    width: 100%;
}

/*common style of title and div end*/

/*navbar start*/
.header{
    width: 100%;
    position: absolute;
    z-index: 10;
}
.navbar{
    padding: 30px !important;
    margin-left: 5% !important;
}
.navbar-item{
    font-weight: 600;
    padding-left: 50px;
}
.nav-link{
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 2em;
    text-transform: uppercase;
    color: #fff !important;
    margin: 0 25px;
}
.nav-link:hover{
    background-color: #dcdde1 !important;
    color: #262626 !important;
    border-radius: 3px;
    transition: all 0.6s ease 0s;
}

/*navbar end*/

/*about start*/
.nav_about{
    background-image:url("images/main_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    margin-bottom: 3%;
 }
.nav_about .container-fluid{
    padding-top: 8%;
}
 .container-fluid .row{
     width: 100%;
 }
 .about_img{
     width: 65% !important;
 }
 .about_img img{
     width: 100%;
 }
 .phone_img{
    width: 35% !important;
    padding: 1% !important;

 }
.phone_img img{
        margin-top: 5%;
        height: 65vh;
        position: relative;

}
.myCard{
    width: fit-content;
    margin-top: 5.9%;
    position: absolute;
    top: 18%;
    left: 12%;
    text-align: center;
}
.myCard img {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    border: 4px solid rgb(197, 192, 192);
}
.myCard .profile_name{
    margin-top: 5%;
    font-size: 16px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.myCard .profile_position{
    font-size: 14px;
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color: gray;
}
.myCard .profile_contact{
    margin-top: 8%;
    background-color: #252627;
    color: #fff;
    padding: 5px;
    border-radius: 3px;

}
.myCard .profile_links a i{
    color: black;
    margin-top: 10%;
}
.myCard .btn{
    margin-top: 12%;
    background-color: #0f0f0f !important;
    color: #fff !important;

}
.about {
    width: 40% !important;
    height: 50vh;
    font-size: 18px;
    font-weight: 550;
    background-color: #fff;
    position: absolute;
    top: 25.4%;
    right: 13.5%;
    letter-spacing: 1px;
    padding: 8px;
}
.socialLink div a img {
    height: 25px;
    width: 25px;
    text-decoration: none;
}
.socialLink div a span {
    font-size: 10px;
    text-decoration: none;
}
/* 
.profile{
    width:23% !important;
    padding-top: 10%;
    border: 1px solid black;
    margin-left: 7%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}


.socialLink {
    display: flex;
    justify-content: center;
    align-items: center;
}

 */

/*about end*/

/*education and experience css start*/
.timeline {
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 3%;
    padding-bottom: 20px;
    background-image:url("images/main_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background: linear-gradient(to left, #555d63, #a09e9a); */
}
  
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 10%;
    bottom: 16%;
    left: 50%;
    margin-left: -3px;
}
  
.timeline_container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    
}
  
.timeline_container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -13px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 20px;
    border-radius: 50%;
    z-index: 1;
}
  
.left {
    left: 0;
}
.right {
    left: 50%;
}
  
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}
  
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}
.right::after {
    left: -12px;
  }
.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    background-image:url("images/beige_bg.jpg");
   
}

.content h2{
    font-size: 1.5em;
    color: wheat;
    background-color: #221709;
    width: fit-content;
    padding-right: 12px;
    padding-left: 12px;
    margin-left: -2%;
}
.content div{
    font-size: 1.5em;
    color: wheat;
    background-color: #221709;
    width: fit-content;
    padding-right: 12px;
    padding-left: 12px;
    margin-top: 1%;
    margin-left: -2%;
}
.content div:nth-child(3){
    font-size: 1.1em;
}
  

/*education and experience css end*/


/*Skills css start*/

.progress_bar{
    margin-top: 3.5% !important;
}
.progress{
    margin-bottom: 9%;
}
.skills_content {
    background-image:url("images/main_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-bottom: 3%;
    padding-bottom: 1%;
}
.skills_content .row{
     width: 100%;
    margin-bottom: 5%;
}


.skills {
    width: 100%;
    color: #2c3e50;
    align-items: center;
}
.skills>div>h1{
    
    color: white !important;
}
.skill_img {
    margin: auto;
    display: block;
    height: 90px;
}

.skill_name {
    font-size: 24px;
    font-weight: 4000;
    text-decoration: underline;
    text-align: center;
    text-transform: capitalize;
    margin: 10px 0 10px;
}

/*Skills css end*/

.projects{
    background-image:url("images/main_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    margin-bottom: 3%;
    padding-bottom: 7%;
}
.projects .row{
    width:100%;
}
.owl-carousel{
    width: 100%;
}

/* .source_btn{
    position: absolute;
    border-radius: 5px;
    margin-left: 8%;
    top:45%;
  
}
.live_btn{
    position: absolute;
    border-radius: 5px;
    top:45%;
    left:52%;
   
} */
.project_img{
    position: relative;
    margin: 0 12% !important;
    width:72%;
    height:40vh;
    background-color: red;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: 0.5s ease;
  }

  .project_img:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, .3);
  }

  .project_img .source_btn {
    position: absolute;
    width: 33%;
    left:12%;
    top: 41%;
    padding: 3%;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
  }

  .project_img .live_btn {
    position: absolute;
    width: 33%;
    left:54%;
    top: 41%;
    padding: 3%;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
  }
  
  .project_img .btn a {
    width: 200px;
    text-align: center;
    color: white;
    z-index: 1;
    text-decoration: none;
  }

  .project_img:hover .btn {
    opacity: 1;
  }
 

.owl-nav i {
    font-size: 35px;
    color: #262626;
  }
.owl-nav .owl-prev.disabled,
.owl-nav .owl-next.disabled {
     display: none !important;
}

.owl-nav .owl-prev {
    position: absolute;
    left: 26px;
    top:42%;
    background-color: beige !important;
    border: 2px solid black !important;
    border-radius: 50% !important;
    width: 40px !important;
    height: 40px !important;
  }
  
.owl-nav .owl-next {
    position: absolute;
    right:46px;
    top:42%;
    background-color: beige !important;
    border: 2px solid black !important;
    border-radius: 50% !important;
    width: 40px !important;
    height: 40px !important;
  }

  .certificate{
    background-image:url("images/main_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
      width: 100%;
      margin-bottom: 3%;
      padding-bottom: 7%;
  }
  .certificate .row{
      width: 100%;
  }
  .certificate_container{
    background-color: transparent;
    margin: 0 12% !important;
    width:72%;
    height:40vh;
    perspective: 1000px;
  }
  .certificate_card{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  .certificate_container:hover .certificate_card{
    transform: rotateY(180deg);
  }
  .front , .back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .front{
    background-color: #bbb;
    color: black;
    padding-top: 36%;
  }
  .back{
    background-color: #2980b9;
    color: white;
    padding-top: 30%;
    transform: rotateY(180deg);
  }
/*contact css start*/
.contact_section {
    background-image:url("images/main_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5px;
    width: 100%;
    display: block;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}

.contact_form {
    margin-top: 40px !important;
}

.contact_form form input,
textarea {
    height: 40px;
    width: 94%;
    margin-bottom: 30px;
    border: 1px solid #2c3e50;
    border-radius: 5px;
    padding: 12px 9px;
}

::placeholder {
    color: #2c3e50;
}

#msg {
    height: 130px;
    margin-bottom: 20px;
}

.contact_btn {
    background-color: #2c3e50;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 45%;
    height: 41px;
    margin-left: 25%;
    text-transform: uppercase;
    cursor: pointer;
    padding: 10px 15px;
}

.map {
    border: 0.8px solid #2c3e50;
    padding : 0 !important;
}
.map iframe{
   margin-bottom: -7px;
}

/*contact css end*/


/*footer css*/

.footer {
    background-image:url("images/main_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    width: 100%;
    margin: 0 !important;
}
.footer div {
    text-align: center;
    padding: 12.5px 0;
}
.footer div span a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

#myBtn {
    display:none;
    position: fixed;
    bottom: 3px;
    right: 5px;
    width: 45px;
    height:45px;
    z-index: 100;
    font-size: 20px;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    padding: 6px;
  }
  @media only screen and (min-width: 1120px) and (max-width:1349px){
    .phone_img img {
        margin-left: -20%;
        margin-top: 10%;
    }
    .about_img img {
        margin-top: 7%;
        height: 70vh;
        width: 105% !important;
    }
    .myCard{
        margin-top: 17.4%;
        top: 2%;
        left: 12%;
    
    }
    .myCard img {
        height: 155px;
        width: 155px;
        margin-left: 11.9%;
    }
    .myCard .profile_name{
        margin-top: 10%;
        font-size: 21px;
        margin-left: 13%;
        width: 100%;
    }
    .myCard .profile_position{
       
        margin-left: 12.8%;
        width: 100%;
        font-size: 15px;
    }
    .myCard .profile_contact{
        margin-top: 8%;
        padding: 8px;
        width: 100%;
        font-size: 15px;
        margin-left: 12.5%;
    
    }
    .myCard .profile_links{
        margin-left: 17% !important;
    }
    .myCard .profile_links a i{
        margin-top: 16%;
        font-size: 20px;
    }
    .myCard .btn{
        margin-top: 12%;
        margin-left: 11%;
        width: 100%;
        font-size: 18px;
    
    }
       .about {
        width: 40.4% !important;
        height: 41.8vh;
        font-size: 18px;
        top: 23.8%;
        left: 47.2%;
    }
     .about p{
        font-size: 21px;
     }
 
}

@media only screen and (min-width: 1200px) and (max-width:1269px){
    .myCard{
      
        left: 10.8% !important;
    }
    .about {
        
        top: 25% !important;
        
    }
}
@media only screen and (min-width: 1270px) and (max-width:1349px){
    .myCard{
      
        left: 9.8% !important;
    }
    .about {
        
        top: 26% !important;
        left: 47.5% !important;
        
    }
}

@media only screen and (min-width: 1050px) and (max-width:1119px){
    .myCard{
      
        left: 6.2% !important;
    }
    .about {
        
        top: 29% !important;
        
    }
}
  @media only screen and (min-width: 992px) and (max-width:1119px){
    .navbar {
        padding: 24px !important;
        margin-left: 1% !important;
    }
    .nav-link {
        margin: 0 19px;
    }
    .about_img {
        width: 75% !important;
    }
    .about_img img {
        height: 70vh;
        margin-top: 13%;
       width: 105% !important;
    }
    .phone_img {
        width: 25% !important;
        margin-top: 2% !important;
    }
    
    .phone_img img {
        margin-top: 35%;
        height: 59vh;
        position: relative;
        margin-left: -48%;
    }
    .myCard{
        margin-top: 17.4%;
        top: 4%;
        left: 7%;
    }
    .myCard img {
        height: 155px;
        width: 155px;
        margin-left: 11.9%;
    }
    .myCard .profile_name{
        margin-top: 10%;
        font-size: 21px;
        margin-left: 13%;
        width: 100%;
    }
    .myCard .profile_position{
       
        margin-left: 12.8%;
        width: 100%;
        font-size: 15px;
    }
    .myCard .profile_contact{
        margin-top: 8%;
        padding: 8px;
        width: 100%;
        font-size: 15px;
        margin-left: 12.5%;
    
    }
    .myCard .profile_links{
        margin-left: 17% !important;
    }
    .myCard .profile_links a i{
        margin-top: 16%;
        font-size: 20px;
    }
    .myCard .btn{
        margin-top: 12%;
        margin-left: 11%;
        width: 100%;
        font-size: 18px;
    
    }
       .about {
        width: 46.8% !important;
        height: 41.5vh;
        font-size: 18px;
        top: 27.8%;
        left: 39.4%;
    }
     .about p{
        font-size: 21px;
     }
  }
  @media only screen and (min-width: 768px) and (max-width:798px){
    .myCard{
        margin-top: 5.9% !important;
        top: 4% !important;
        left: 37.2% !important;
    }
  }
  @media only screen and (min-width: 768px) and (max-width:821px){
    .nav-link {
        width: 26%;
        padding: 2.2% !important;
    } 
    .navbar-collapse{
        margin-top: 4%;
        margin-left: -4.1%;
    }
    .about_img{
        position: relative;
        width: 100% !important;
        padding: 0 !important;
        margin-top: -34% !important;
    }
    .about_img img{
        height: 57vh;
        width: 100%;
        margin-top: 23%;
        margin-left: 2.5%;
    }
    .phone_img{
     width: 100% !important;
     margin-top: -14% !important;
    margin-left: -1%;
    padding: 1% !important;
   
    }
   .phone_img img{
    margin-left: 14.5%;
    height: 54vh;
   
   }
   .myCard{
    margin-top: 5.9%;
    top: 4%;
    left: 40.9%;
}
.myCard img {
    height: 150px;
    width: 150px;
}
.myCard .profile_name{
    margin-top: 10%;
    font-size: 21px;
    margin-left: 13%;
    width: 100%;
}
.myCard .profile_position{
   
    margin-left: 12.8%;
    width: 100%;
    font-size: 15px;
}
.myCard .profile_contact{
    margin-top: 8%;
    padding: 8px;
    width: 100%;
    font-size: 15px;
    margin-left: 12.5%;

}
.myCard .profile_links{
    margin-left: 17% !important;
}
.myCard .profile_links a i{
    margin-top: 16%;
    font-size: 20px;
}
.myCard .btn{
    margin-top: 16%;
    margin-left: 11%;
    width: 100%;
    font-size: 18px;

}
   .about {
    width: 62.2% !important;
    height: 33.8vh;
    font-size: 18px;
    top: 30.9%;
    left: 21.4%;
}
 .about p{
    font-size: 21px;
 }
   .react_img{
    margin-left: -12% !important;
   }
  .node_img{
    margin-left: -15% !important;
   }
  }
  @media only screen and (min-width: 946px) and (max-width:991px){
    .myCard{
        margin-top: 5.9% !important;
        top: 25% !important;
        left: 12.5% !important;
    }
  }
  @media only screen and (min-width: 822px) and (max-width:991px){
    .nav-link {
        width: 26%;
        padding: 1.2% !important;

    } 
    .navbar-toggler{
        margin-top: -2%;
    }
    .navbar-collapse{
        margin-top: -5.5%;
        margin-left: 5.9%;
    }
    .nav_about .container-fluid>.row{
        margin-top: 4% !important;
    }
   
    .about_img{
        position: absolute;
        left: 21%;
        width: 67% !important;
        padding: 43px !important;
    }
    .about_img img{
        height: 56vh;
        width: 121%;
        margin-top: 23%;
        margin-left: 7.5%;
    }
    .phone_img{
        width: 25% !important;
        margin-top: 15% !important;
        padding: 0 !important;
   
    }
   .phone_img img{
    margin-left: -75%;
    height: 54vh;
   
   }

   .myCard{
    margin-top: 5.9%;
    top: 25%;
    left: 14.1%;
}
.myCard img {
    height: 150px;
    width: 150px;
}
.myCard .profile_name{
    margin-top: 10%;
    font-size: 21px;
    margin-left: -36.5%;
    width: 100%;
}
.myCard .profile_position{
   
    margin-left: -36.5%;
    width: 100%;
    font-size: 15px;
}
.myCard .profile_contact{
    margin-top: 8%;
    padding: 8px;
    width: 100%;
    font-size: 15px;
    margin-left:-36.5%;

}
.myCard .profile_links{
    margin-left: -78.5% !important;
    margin-top: -11%;
}
.myCard .profile_links a i{
    margin-top: 16%;
    font-size: 20px;
}
.myCard .btn{
    margin-top: 16%;
    margin-left: -72.5%;
    width: 100%;
    font-size: 18px;

}
   .about {
    width: 65.3% !important;
    height: 33.8vh;
    font-size: 18px;
    top: 27.8%;
    left: 32.9%;

}
 .about p{
    font-size: 21px;
 }
   
   .react_img{
    margin-left: -12% !important;
   }
  .node_img{
    margin-left: -15% !important;
   }
  }

  @media only screen and (min-width: 630px) and (max-width:662px){
    .myCard{
        margin-top: 5.9% !important;
        top: 9% !important;
        left: 40.2% !important;
    }
  }
  @media only screen and (min-width: 662px) and (max-width:692px){
    .myCard{
        margin-top: 5.9% !important;
        top: 9% !important;
        left: 41.2% !important;
    }
  }
  @media only screen and (min-width: 693px) and (max-width:722px){
    .myCard{
        margin-top: 5.9% !important;
        top: 9% !important;
        left: 42% !important;
    }
  }
  @media only screen and (min-width: 723px) and (max-width:767px){
    .myCard{
        margin-top: 5.9% !important;
        top: 9% !important;
        left: 42.4% !important;
    }
  }
  
@media only screen and (min-width: 576px) and (max-width:767px){
    .navbar{
        margin-left:-6% !important
    }
    .nav-link {
        width: 24%;
        padding-left: 1.5% !important;
    } 
    .navbar-collapse{
        margin-top: 2%;
        margin-left: -1.1%;
    }
   
    .navbar-toggler{
        margin-left: 4.4%;
    }
    .about_img{
        width: 100% !important;
        padding: 0 !important;
        margin-left: 2%;
    }
    .about_img img{
        height: 57vh;
        margin-top: -8%;
        margin-left: -0.5%;
    }
    .phone_img{
       margin-top: 15% !important;
       width: 100% !important;
       padding: 1% !important;
   
    }
   .phone_img img{
    width: 90%;
    /* padding-left: 28%; */
    margin-top: -21%;
    margin-left:7.8%;
    height: 48vh;
    position: relative;
   
   }
   .myCard{
    margin-top: 5.9%;
    top: 9%;
    left: 39.2%;
}
.myCard img {
    height: 100px;
    width: 100px;
}
.myCard .profile_name{
    margin-top: 2%;
    font-size: 17px;
}
.myCard .profile_position{
   
    margin-left: -1.5%;
}
.myCard .profile_contact{
    margin-top: 6%;
    padding: 4px;
    width: 99%;
    font-size: 12px;

}
.myCard .profile_links a i{
    margin-top: 10%;
}
.myCard .btn{
    margin-top: 12%;
    margin-left: 2%;
    width: 100%;
    font-size: 14px;

}
   .about {
    width: 60% !important;
    height: 33.8vh;
    top: 51.2%;
    left: 19.3%;
}
 .about p{
    font-size: 15px;
 }

    .progress{
        margin-bottom: 3%;
    }
  
    .timeline::after {
        left: 31px ;
        top: 13.5%;
        bottom: 2.5%;
    }
    .timeline_container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    .timeline_container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }
    .left::after, .right::after {
        left: 19px;
    }
    .right {
        left: 0%;
    }

    .map {
       margin-top: 5% !important;
    
    }
    .skills_content {
        width: 100% !important;
        padding: 6%;
        
    }

    .contact_section .row{
        width: 100% !important;
    }

    .contact_form {
        margin-left: 5%;
        margin-top: 0px !important;
    }
    .map{
        margin-left:2% ;
    }
    
    .contact_btn{
        margin-top: -3%;
        margin-left: 24%;
        padding: 8px 15px;
    }
    #msg {
        margin-bottom: 14px;
    }
   
}

@media only screen and (min-width: 420px) and (max-width:467px){
    .myCard{
        margin-top: 5.9% !important;
        top: 12% !important;
        left: 34.8% !important;
    }
  }
  @media only screen and (min-width: 468px) and (max-width:512px){
    .myCard{
        margin-top: 5.9% !important;
        top: 13% !important;
        left: 37% !important;
    }
  }
  @media only screen and (min-width: 519px) and (max-width:575px){
    .myCard{
        margin-top: 5.9% !important;
        top: 13% !important;
        left: 38.4% !important;
    }
  }

@media only screen and (min-width: 390px) and (max-width:575px){

    .navbar{
        margin-left:-8% !important
    }
    .nav-link {
        width: 30.3%;
        padding-left: 1.5% !important;
    } 
    .navbar-collapse{
        margin-top: 2%;
        margin-left: -10.4%;
        font-size: 15px;
    }
    .navbar-toggler{
        margin-left: -1.4%;
    }

    .about_img{
        width: 100% !important;
        padding: 0 !important;
    }
    .about_img img{
        width: 108%;
        height: 45vh;
        margin-top: -5%;
        margin-left: -4%;
        padding-left: 4%;
    }
    .phone_img{
        margin-top: 6% !important;
        width: 100% !important;
        padding: 2% !important;
   
    }
   .phone_img img{
    width: 112%;
    margin-left: -3.5%;
    margin-top: -55px !important;
    height: 44vh;
   
   }
   .myCard{
    margin-top: 5.9%;
    top: 12%;
    left: 33.2%;
}
.myCard img {
    height: 80px;
    width: 80px;
}
.myCard .profile_name{
    margin-top: 1%;
    font-size: 16px;
}
.myCard .profile_position{
   
    margin-left: -1.5%;
}
.myCard .profile_contact{
    margin-top: 6%;
    padding: 4px;
    width: 99%;
    font-size: 12px;

}
.myCard .profile_links a i{
    margin-top: 10%;
}
.myCard .btn{
    margin-top: 10%;
    margin-left: -1%;
    width: 86%;
    font-size: 12px;

}
   .about {
    width: 60.5% !important;
    height: 26.8vh;
    font-size: 18px;
    top: 48.5%;
    left: 18.5%;
}
 .about p{
    font-size: 10px;
 }
    .progress_bar{
        margin-top: 1.5% !important;
        margin-left: 2%;
    }
    .progress{
        margin-bottom: 1%;
    }
    .skills {
     
        color: #2c3e50;
    }

    .skills_card .row{
        flex-wrap: nowrap;
      
    }
    .skills>.col-xs-4{
        width: 35% !important;
    }
    
    .skill_img {
        margin: 0 0% 0 31.7% !important;
        height: 65px;
    }
    .skills>div>h1{
        margin-left: 20.5% !important;
        color: white !important;
    }
    
    .skill_name {
        font-size: 15px;
        margin: 10px 0 10px;
    }
    .react_img{
        margin-left: 9% !important;
    }
    .node_img{
        margin-left: 6% !important;
    }
    .bootstrap_img{
        margin-left: 26% !important;
    }
    .java_img{
        margin-left: 37% !important;
    }

    .timeline::after {
        left: 31px ;
        top: 10%;
        bottom: 2.5%;
    }
    .timeline_container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    .timeline_container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }
    .left::after, .right::after {
        left: 19px;
    }
    .right {
        left: 0%;
    }

    .project_img {
        margin: 0px 14.5% !important;
        width: 72%;
        height: 41vh;
        background-color: blue;
    }
   
    .project_img .source_btn {
        width: 39%;
        left: 9%;
        top: 44%;
    }
    .project_img .live_btn {
        width: 39%;
        left: 52%;
        top: 44%;
    }
    .certificate_container {
        margin: 0px 14.5% !important;
        width: 72%;
    }
    .front{
        padding-top: 58%;
       }

   .owl-nav .owl-prev {
    left: 36px;
    top: 44%;
  
   }
   .owl-nav .owl-next {
    right: 31px;
    top: 44%;

   }

  


 
    .map {
       margin-top: 5% !important;
       height: 40vh !important;
    }

    .map iframe{
        margin-bottom: 0px;
        height: 100%;
     }

    .contact_form {
        margin-left: 3.3%;
        margin-top: 0px !important;
    }
    
    .contact_btn{
        margin-top: -3%;
        margin-left: 24%;
        padding: 8px 15px;
    }
    #msg {
        margin-bottom: 14px;
        margin-left: -10px;
    }

    .contact_form form input, textarea {
    width: 100%;
    margin-bottom: 26px;
    margin-left: -10px;
   }
}